<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.newtest.mapper.EmpMapper">
<insert id="EmpAdd" parameterType="com.lanou.newtest.bean.Emp">
 insert into testemp(empid,account,password,departmentid) values (seq_testemp_empid.nextval,#{account},#{password},#{departmentid})
</insert>
    <select id="empAll" resultMap="selectEmp">
        select testemp.EMPID,testemp.ACCOUNT,testemp.PASSWORD,testde.NAME from TESTEMP,TESTDE where TESTEMP.DEPARTMENTID = TESTDE.DEPARTMENTID
    </select>
    <resultMap id="selectEmp" type="com.lanou.newtest.bean.Emp">
        <id property="empid" column="empid"></id>
        <result property="account" column="account"></result>
        <result property="password" column="password"></result>
        <result property="param" column="name"></result>
    </resultMap>
</mapper>