<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.newtest.mapper.EmpMapper">
    <insert id="EmpAdd" parameterType="com.lanou.newtest.bean.Emp">
    
    </insert>
    <select id="selectByPhone" resultType="com.lanou.newtest.bean.Emp">
        select * from TESTEMP where ACCOUNT=#{phone}
    </select>

    <select id="selectByPwd" resultType="com.lanou.newtest.bean.Emp">
        select * from TESTEMP where ACCOUNT=#{phone} and PASSWORD=#{password}
    </select>
</mapper>